a {
    color: blue;
    text-decoration: none;
  }

  a:hover {
    color: red;
    text-decoration: none;
  }

  body {
      background-color: #add8e6;
      color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   }

   img {
       margin-top: 2rem;
   }
  footer {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h1 {
    margin-bottom: 2rem;
    margin-top: 2rem;
   }

  h2 {
      color: #075AAB;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
   }

  h3 {
    margin-bottom: 0;
    margin-top: 2rem;
  }

  h4 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  h5 {
    margin-top: 0.5rem;
  }

  hr {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  ul {
    display: table;
    margin: 0 auto;
    text-align: left;
  }
  .col-100 {
    width: 100%;
    float: left;
    position: relative;
    background-color: white;
    margin-bottom: 0rem;
  }
  .bloco-imagens-texto {
   background-color: #eee;
   background-position: center;
 }

