@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  text-align: center;

  background-image:url('imagens/🔥\ One\ Piece\ Straw\ Hat\ Wallpapers\ on\ WallpaperSafari.jfif');
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
  
  }
  
  li a:hover {

    background-color:orange;

  }

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;

  }

  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.conteudo{
    color: azure;
    margin-top: px;
    width: 500px;
  }

.card{
    width: 700px;
    height: 400px;
    border-radius: 20px;
    margin-top: 350px;
    background-color: #494949;
}


.one{
    color: aliceblue;
    margin-top:  10px;
    margin-bottom: 20px;
}
.text{
    color: azure;
}


