/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #552583; /* Roxo Lakers */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 900px;
    background-color: #f0f0f0; /* Cor clara para contraste */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #fdb927; /* Amarelo Lakers */
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fdb927; /* Borda amarela */
}

.info {
    flex: 1;
    margin-left: 20px;
}

.info h2 {
    font-size: 2em;
    color: #552583; /* Roxo Lakers */
}

.info p {
    font-size: 1.2em;
    color: #333;
}

.about {
    margin-top: 20px;
    background-color: #552583;
    padding: 15px;
    border-radius: 10px;
}

.about h2 {
    font-size: 1.8em;
    color: #fdb927;
    margin-bottom: 10px;
}

.about p {
    font-size: 1.2em;
    line-height: 1.6;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
    color: #333;
}
