*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #6523B6, #EE7221);
    min-height: 300vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6523b6;
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, 0.4);
}

li {
    float: left
    
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    
}
  
li a:hover {
    background-color: #EE7221;
}