body{
    margin: 0;
    padding: o;
    background-color: black;
    background-image: url(/mavericks/kaiki/imagens/Sem\ título.png);
}

nav{
    display: flex;
    position: absolute;
    width: 100%;
    height: 7rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   color: white;
   padding-top: 150px;
   text-decoration: none;

}