body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
}

h1 {
    color: #333;
}

.funny-image {
    width: 800px;
    /* Reduzido o tamanho da imagem para garantir que não haja rolagem */
    margin-top: 10px;
}

p {
    font-size: 16px;
    color: #666;
}

.butt-button {
    padding: 8px 16px;
    background-color: #3ed1fa;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.butt-button:hover {
    background-color: #f93a32;
}

header {
    background: #3ed1fa;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
    color: #fdd746;
}


nav a {
    color: #000;
    text-decoration: none;
}

@media (max-width: 600px) {
    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}